@use '@styles/variables' as *;

.hornav {
	&__links {
		&--container {
			& ul {
				&::-webkit-scrollbar {
					height: 5px;
					background-color: white;
				}

				&::-webkit-scrollbar-thumb {
					background: red;
				}
			}
		}

		&--li {
			&.active {
				color: $p-color;
				background: $w-color;
			}

			& a {
				width: max-content;
				display: flex;
				align-items: center;
				height: 100%;
				user-select: none;
			}

			& button {
				cursor: pointer;
				width: 100%;
				display: flex;
				align-items: center;
				height: 100%;
			}

			& .hornav-dropdown {
				display: flex;
				position: absolute;
				display: none;
				gap: 6rem;
				top: 6.6rem !important;
				left: 0;
				width: 100%;
				height: max-content;
				min-height: 400px;
				background: $s-color;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				// border: 1px solid $s-color;
				border-top: 1px solid light-dark($p-color, $s-color);
				z-index: 10;
				-webkit-box-shadow: 8px 8px 20px -9px rgba(27, 27, 27, 1);
				-moz-box-shadow: 8px 8px 20px -9px rgba(27, 27, 27, 1);
				box-shadow: 8px 8px 20px -9px rgba(27, 27, 27, 1);

				&.active {
					display: flex;
				}

				&__li {
					display: flex;
					width: 100%;
					text-align: center;

					&.li-menu {
						width: 30%;
						flex-direction: column;
						justify-content: center;
						align-items: center;

						& svg {
							width: 12rem;
						}

						.title-container {
							width: 100%;
							height: 300px;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							cursor: default;

							.type--A {
								--line_color: #555555;
								--back_color: transparent;
							}

							.type--B {
								--line_color: #1b1919;
								--back_color: #e9ecff;
							}

							.type--C {
								--line_color: #fff;
								--back_color: #240046;
							}

							.buttonul {
								position: relative;
								cursor: default;
								z-index: 0;
								width: 240px;
								height: 56px;
								background: transparent;
								text-decoration: none;
								font-size: 4rem;
								font-weight: bold;
								color: var(--line_color);
								letter-spacing: 2px;
								transition: all 0.3s ease;

								&__text {
									display: flex;
									justify-content: center;

									align-items: center;
									width: 100%;
									height: 100%;

									&::before {
										bottom: 0;
										right: 54px;
										width: calc(100% - 56px * 2 - 16px);
									}

									&::after {
										bottom: 0;
										left: 54px;
										width: 8px;
									}
								}

								&:hover {
									letter-spacing: 6px;
								}

								&__drow1 {
									top: -16px;
									left: 40px;
									width: 32px;
									height: 0;
									transform: rotate(30deg);

									&::before {
										bottom: 0;
										left: 0;
										width: 0;
										height: 32px;
										border-radius: 16px;
										transform-origin: 16px 16px;
										transform: rotate(-60deg);
									}
								}

								&__drow2 {
									top: 44px;
									left: 77px;
									width: 32px;
									height: 0;
									transform: rotate(-127deg);
								}
							}

							.buttonul:hover::before,
							.buttonul:hover .buttonul__text::before {
								width: 8px;
							}

							.buttonul:hover::after,
							.buttonul:hover .buttonul__text::after {
								width: calc(100% - 56px * 2 - 16px);
							}

							.buttonul__drow1,
							.buttonul__drow2 {
								position: absolute;
								z-index: -1;
								border-radius: 16px;
								transform-origin: 16px 16px;
							}

							.buttonul__drow1::before,
							.buttonul__drow1::after,
							.buttonul__drow2::before,
							.buttonul__drow2::after {
								content: '';
								position: absolute;
							}

							.buttonul__drow1::after {
								top: -10px;
								left: 45px;
								width: 0;
								height: 32px;
								border-radius: 16px;
								transform-origin: 16px 16px;
								transform: rotate(69deg);
							}

							.buttonul__drow2::before {
								bottom: 0;
								left: 0;
								width: 0;
								height: 32px;
								border-radius: 16px;
								transform-origin: 16px 16px;
								transform: rotate(-146deg);
							}

							.buttonul__drow2::after {
								bottom: 26px;
								left: -40px;
								width: 0;
								height: 32px;
								border-radius: 16px;
								transform-origin: 16px 16px;
								transform: rotate(-262deg);
							}

							.buttonul__drow1,
							.buttonul__drow1::before,
							.buttonul__drow1::after,
							.buttonul__drow2,
							.buttonul__drow2::before,
							.buttonul__drow2::after {
								background: $p-color;
							}

							.buttonul:hover .buttonul__drow1 {
								animation: drow1 ease-in 0.06s;
								animation-fill-mode: forwards;
							}

							.buttonul:hover .buttonul__drow1::before {
								animation: drow2 linear 0.08s 0.06s;
								animation-fill-mode: forwards;
							}

							.buttonul:hover .buttonul__drow1::after {
								animation: drow3 linear 0.03s 0.14s;
								animation-fill-mode: forwards;
							}

							.buttonul:hover .buttonul__drow2 {
								animation: drow4 linear 0.06s 0.2s;
								animation-fill-mode: forwards;
							}

							.buttonul:hover .buttonul__drow2::before {
								animation: drow3 linear 0.03s 0.26s;
								animation-fill-mode: forwards;
							}

							.buttonul:hover .buttonul__drow2::after {
								animation: drow5 linear 0.06s 0.32s;
								animation-fill-mode: forwards;
							}

							@keyframes drow1 {
								0% {
									height: 0;
								}

								100% {
									height: 100px;
								}
							}

							@keyframes drow2 {
								0% {
									width: 0;
									opacity: 0;
								}

								10% {
									opacity: 0;
								}

								11% {
									opacity: 1;
								}

								100% {
									width: 120px;
								}
							}

							@keyframes drow3 {
								0% {
									width: 0;
								}

								100% {
									width: 80px;
								}
							}

							@keyframes drow4 {
								0% {
									height: 0;
								}

								100% {
									height: 120px;
								}
							}

							@keyframes drow5 {
								0% {
									width: 0;
								}

								100% {
									width: 124px;
								}
							}

							.button:not(:last-child) {
								margin-bottom: 64px;
							}
						}

						& figure {
							width: 200px;
						}
					}

					&.li-submenu {
						width: 70%;
						font-size: 1.6rem;
						justify-content: center;
						align-items: center;
						flex-wrap: wrap;
						gap: 1rem;
						padding: 10px;
						max-height: 400px;
						overflow-y: auto;

						&::-webkit-scrollbar {
							width: 10px;
							box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
							border-radius: 10px;
							background-color: white;
						}

						&::-webkit-scrollbar-thumb {
							border-radius: 10px;
							box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
							background-color: $p3-color;
						}
					}

					& a {
						width: 45%;
						height: 6rem;
						display: flex;
						justify-content: center;
						background: $w-color;
						color: $p-color;
						padding: 1rem;

						&:hover {
							background: $p-color;
							color: $w-color;
							-webkit-box-shadow: 8px 8px 24px -17px rgba(66, 68, 90, 1);
							-moz-box-shadow: 8px 8px 24px -17px rgba(66, 68, 90, 1);
							box-shadow: 8px 8px 24px -17px rgba(66, 68, 90, 1);
						}
					}
				}
			}
		}

		.search__container {
			&--del {
				width: 3.4rem;
			}

			&--icon {
				width: 50px;
				aspect-ratio: 1;
				border-left: 2px solid white;
				border-top: 3px solid transparent;
				border-bottom: 3px solid transparent;
				border-radius: 50%;
				padding-left: 12px;
				margin-right: 10px;

				&:hover {
					border-left: 3px solid white;
				}
			}

			&--delete {
				cursor: pointer;

				& svg {
					width: 24px;
				}
			}

			& .st0 {
				fill: transparent;
				stroke: white;
			}
		}

		.search__container::after,
		.search__container::before {
			content: '';
			width: 100%;
			height: 100%;
			border-radius: inherit;
			position: absolute;
		}

		.search__container::before {
			top: -1px;
			left: -1px;
			background: linear-gradient(0deg, $p2-color 0%, rgb(255, 255, 255) 100%);
			z-index: -1;
		}

		.search__container::after {
			bottom: -1px;
			right: -1px;
			background: linear-gradient(0deg, $p3-color 0%, $s2-color 100%);

			z-index: -2;
		}
	}

	&__logos {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 30%;
		height: 100%;

		& figure {
			width: 8rem;
		}

		&--title {
			font-size: 3.4rem;
			margin-left: 2rem;
			color: light-dark($p-color, $s2-color);
		}

		&--version {
			color: $w-color;
			font-weight: 800;
			border: 4px solid light-dark($t-color, $s3-color);
			background: light-dark($p-color, $s-color);
			font-size: 1.4rem;
			padding: 0.2rem 1.2rem;
			border-radius: 2rem;
			-webkit-border-radius: 2rem;
			-moz-border-radius: 2rem;
			-ms-border-radius: 2rem;
			-o-border-radius: 2rem;
		}
	}
}

.templates-xls {
	display: flex;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	padding: 6rem;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 4rem;

	.file-upload-form {
		width: fit-content;
		height: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.file-upload-label {
		cursor: pointer;
		background-color: #ddd;
		padding: 30px 70px;
		border-radius: 40px;
		border: 2px dashed rgb(82, 82, 82);
		box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);

		& svg {
			height: 50px;
			fill: rgb(82, 82, 82);
			margin-bottom: 20px;
		}

		& input {
			display: none;
		}
	}

	.file-upload-design {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5px;
	}

	.browse-button {
		background-color: rgb(82, 82, 82);
		padding: 5px 15px;
		border-radius: 10px;
		color: white;

		// transition: all 0.3s;
		&:hover {
			background-color: rgb(14, 14, 14);
		}
	}

	&--left {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 100%;
		padding: 1rem;
	}

	&--right {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2rem;
		width: 50%;
		height: 100%;
		margin: 10% 0;
		color: $w-color;
		padding: 1rem;

		& span {
			text-align: center;
			width: 100%;
			margin-bottom: 2rem;
			font-weight: 800;
			font-size: 6rem;
			padding: 0.4rem 2rem;
			color: $b-color;
			background: rgba(255, 255, 255, 0.4);
		}

		& .templates {
			display: flex;
			margin: 10rem 0;
			justify-content: center;
		}
	}
}

// antes de 1366px ejecuta estos estilos
@media only screen and (max-width: 1366px) {
	.hornav {
		&__logos {
			&--title {
				font-size: 2rem;
			}
		}

		&__links {
			& .hornav__links--search {
				width: 100%;
			}

			& .search__container {
				min-width: 90%;
			}
		}
	}
}

.container-btn-file {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	background-color: #307750;
	width: 600px;
	font-size: 1.8rem;
	color: #fff;
	border-style: none;
	padding: 1em 2em;
	border-radius: 0.5em;
	overflow: hidden;
	z-index: 1;
	box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
	// transition: all 250ms;
	cursor: pointer;

	& > svg {
		margin-right: 1em;
		width: 30px;
	}

	&::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 0;
		border-radius: 0.5em;
		background-color: #469b61;
		z-index: -1;
		// transition: all 350ms;
	}

	&:hover::before {
		width: 100%;
	}
}
